/************************************************************
 *                   Styles for echo content
 ************************************************************/

textarea, input,
.echo-submit-text {
    color: #000 !important;
}

.pg-home .primary .s_items {
    background: none;
}

#s_river {
    padding: 0;
    margin: 0 0 50px 0;
    width
  position: relative;
}

#s_river .echo-stream-curate {
    position: relative;
    top: 25px;
}

#s_river .echo-item-container {
    background: none!important;
}

#s_river .echo-stream-body {
    margin: 0;
}

* html #s_river .echo-stream-body,  *+html #s_river .echo-stream-body {
    top: 0px;
}

.echo-item-data .metadata {
    clear: both;
    float: left;
    width: 100%;
    margin: 10px 0 10px 0;
    padding-top: 3px;
}

.echo-item-data .metadata_image {
    float: left;
    max-width: 200px;
    max-height: 200px;
    padding: 2px 10px 10px 0;
}

.echo-item-data .metadata_description_div {
    float: left;
}
/* GENERAL POST STYLING*/
#s_river .echo-item-content {
    background: rgba(255,255,255,.80);
 /* IE  */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccffffff, endColorstr=#ccffffff);
  /* IE8 uses -ms-filter for whatever reason... */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccffffff, endColorstr=#ccffffff);
    padding: 25px 25px 15px 15px;
    margin: 0 0 15px 0;
}

.s_comments .echo-item-content {
    border-bottom: 1px solid #dedede;
    padding: 5px 10px 5px 10px;
    margin: 0 0 5px 0;
}

*+html #s_river .echo-item-content {
    display: block;
    width: 600px;
}

#bv-echo-river .echo-item-content {
    border-top: 1px solid #232323;
    border-bottom: 1px solid #050505;
    padding: 3px 0px 5px 0;
}

.echo-item-container {
    padding: 0 0 15px 0;
    margin: 0;
}
/* POST WITH NO COMMENT THREAD */
/* POST WITH COMMENT THREAD */
.echo-item-container-root-thread {
    padding-bottom: 15px;
}
/*///////////// TEXT + LINK STYLES  ////////////////////*/
/* AUTHOR NAME/SRC */
.echo-item-authorName {
    font-family: blackout-midnight,arial,sans-serif;
    text-transform: lowercase;
    color: #fff;
    background-color: rgba(0,0,0,.20);
  /* IE  */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
  /* IE8 uses -ms-filter for whatever reason... */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
    font-size: 12px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin: 0px 0px 2px -2px;
    padding: 5px 10px 3px 10px;
    text-shadow: 1px solid #f20061;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

#s_river .echo-item-authorName:hover {
    color: #fff;
    background-color: black;
}

#s_river .echo-item-wrapper-child .echo-item-authorName, #s_river .echo-item-wrapper-child .echo-item-authorName a {
    font-size: 12px;
    color: #ff00a8;
    background-color: transparent;
    padding: 0;
    margin: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    text-decoration: none;
}

#s_river .echo-item-authorName a:hover {
    text-decoration: none;
}
/* LINK COLORS */

a.metadata_title {
    color: #ea008a;
    margin: 10px 0 7px 0!important;
    padding: 0 0 3px 0;
    border-bottom: 1px dotted black;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    float: left;
    width: 100%;
}

div.metadata_description {
    line-height: 1.1em!important;
}

.echo-item-wrapper-child a, .echo-item-wrapper-child a:visited, .echo-item-wrapper-child a:link {
    color: #ea008a;
    border: none;
    float: left;
    display: block;
}

.echo-item-control-delim {
    display: none;
}

a.echo-item-control,
.echo-auth-logout,
.echo-auth-login,
.echo-button .ui-state-hover,
.echo-button .ui-state-default,
.echo-button .ui-state-active {
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border: none !important;
    background: #4f4f4f;
    font-weight: 900;
    color: #1f1f1f;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(150, 150, 150, 0.7);
    padding: 2px 4px;
    font-size: 10px;
    -webkit-box-shadow: 0px 1px 1px #2f2f2f;
    -moz-box-shadow: 0px 1px 1px #2f2f2f;
    -o-box-shadow: 0px 1px 1px #2f2f2f;
    box-shadow: 0px 1px 1px #2f2f2f;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    margin: 0 0 0 3px;
}

#s_river a.echo-item-control,
#s_river .echo-auth-logout,
#s_river .echo-auth-login,
#s_river .echo-button .ui-state-hover,
#s_river .echo-button .ui-state-default,
#s_river .echo-button .ui-state-active {
    font-size: 12px;
    padding: 4px 6px;
}

.echo-button .ui-button-text-only .ui-button-text {
    padding: 0 0 !important;
}

a.echo-item-control:hover {
    background-color: #ea008a;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(200, 200, 200, 0.5);
}

.echo-item-control-Flag a:hover,
.echo-item-control-Flag span:hover,
.echo-item-control-Flag .echo-clickable,
.echo-item-control-Flag .echo-linkColor:hover,
.echo-item-control-Flag .echo-clickable:hover {
    color: #000!important;
}

a.article_title:link,
a.article_title:visited,
.note_title, .echo-item-data div.note_title,
.note_title a, .article_tweet, .article_title, .article_title a {
    font-family: league-gothic, "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* 1st pink color: #f20070;*/
    color: #ff00a8;
    text-decoration: none;
    font-weight: 500;
    font-size: 30px!important;
    text-transform: uppercase;
    line-height: 1;
    padding-bottom: 6px;
    margin-bottom: -5px;
    letter-spacing: 0.25px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.article_tweet span {
    color: #ea008a !important;
}

.article_link_metadata {
    line-height: 16px !important;
    font-size: 14px !important;
    margin-top: 10px;
}

.note_title a:hover, .article_title a:hover {
    color: #000!important;
}

.article_title, .note_title {
    border-bottom: 2px dotted #000;
}

.note_title {
    border: none;
}

.echo-item-body span {
    font-size: 12px;
}

.echo-item-children .note_title {
    color: #000;
    line-height: 1;
    font-size: 12px;
    border-bottom: 1px solid #ea008a;
}

.echo-primaryColor, .echo-secondaryColor {
    color: #000000;
}

.echo-item-children .echo-primaryColor, .echo-item-children .echo-secondaryColor {
    color: #050505;
}

.echo-item-form a {
    color: #000000;
}

.echo-item-body div span {
    color: #000000;
    font-size: 14px;
    line-height: 16px;
}

.echo-item-body div.article_tweet span {
    font-size: 30px!important;
}

* html .echo-item-body, *+html .echo-item-body {
    width: 480px;
    line-height: 20px;
}

.article_link_metadata a.iframebox:link, .article_link_metadata a.iframebox:visited {
    color: #fff;
}

a.preview_title {
    font-size: 12px;
    font-weight: bold;
    color: #336699;
}

a.preview_description {
    font-size: 11px;
    color: #666666;
    padding-top: 5px;
}
/* SELECTORS */
.selector {
    position: relative;
    top: 10px;
    float: right;
    margin: 0px;
    padding: 0;
    width: 556px!important;
    color: #000;
    font-size: 16px;
    font-family: blackout-midnight,arial,sans-serif;
    text-indent: -9999em;
}

* html .selector, *+html .selector {
    top: -41px;
}

.selector > div {
    float: left;
}

.selector a {
    width: 100px;
    padding: 14px 5px;
    text-align: center;
    background-color: black;
    border-width: 1px 1px 0px 1px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: .05em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    margin: 0px 0px 0px 1px;
    float: left;
    text-indent: 0em;
}

.selector a:hover, .selector a.selected {
    color: #000;
    background: rgba(255,255,255,.9);
 /* IE  */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ddffffff, endColorstr=#ddffffff);
  /* IE8 uses -ms-filter for whatever reason... */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ddffffff, endColorstr=#ddffffff);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.99);
    letter-spacing: 0em;
}

/* MORE BUTTON */
.echo-stream-more {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(100,100,100,0.8)), to(rgba(50,50,50,0.80)));
    background-image: -moz-linear-gradient(rgba(100, 100, 100, 0.8) 0%, rgba(50, 50, 50, .8) 50%);
  /* approximately a 33% opacity on blue */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc777777, endColorstr=#cc444444);
  /* IE8 uses -ms-filter for whatever reason... */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc777777, endColorstr=#cc444444);
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(240, 240, 240, 0.5);
    padding: 23px 0px;
    float: left;
    font-size: 14px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    width: 600px;
    border: none;
}

#s_river .echo-stream-more {
    margin: -12px 0 0 0px;
}

.echo-stream-more-hover {
    background: #ff00a8;
}
/*///////////// REPLY FORM + COMMENT THREAD  ////////////////////*/
#s_river .echo-item-children .echo-item-content, .echo-item-content .echo-submit-container {
    background: transparent;
    background-color: rgba(0,0,0,0.1);
  /* IE  */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#11000000, endColorstr=#11000000);
  /* IE8 uses -ms-filter for whatever reason... */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#11000000, endColorstr=#11000000);
    color: #000;
    padding: 10px 13px;
    margin: 0px 0px 5px 50px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    text-shadow: none;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    width: 86%;
}

#s_river .echo-item-children .echo-item-content:hover {
    background-color: rgba(0,0,0,0.2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#22000000, endColorstr=#22000000);
  /* IE8 uses -ms-filter for whatever reason... */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#22000000, endColorstr=#22000000);
    cursor: hand!important;
}

#s_river .echo-item-children .echo-item-body {
    border-top: 1px solid #ff008a;
    padding-top: 6px;
    color: #2f2f2f;
}

#s_river .echo-item-children .echo-item-content span {
    font-weight: 300;
    color: #2f2f2f;
}

#s_river .echo-item-children .echo-item-footer {
    float: right;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: transparent;
    background-color: rgba(0,0,0,0.88);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#22000000, endColorstr=#22000000);
  /* IE8 uses -ms-filter for whatever reason... */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#22000000, endColorstr=#22000000);
    letter-spacing: .08em;
    font-size: 11px;
    color: #fff;
    margin-right: 15px;
    position: relative;
    top: 19px;
    font-style: italic;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    padding: 5px 10px 3px 10px;
}

.echo-item-content .echo-submit-container {
    margin: -5px 0 0 0;
    padding: 20px 13px!important;
}

#s_river .echo-submit-container {
    width: 86%;
}

.echo-submit-container p, .echo-submit-container span {
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#s_river .echo-item-children .echo-item-content, #s_river .echo-submit-container {
    margin: 0px 0px 5px 50px;
}

#s_river .echo-submit-container {
    margin: 0px 0px 0px 50px;
}

.echo-item-replyForm textarea {
    color: #ea008a;
}

.echo-reply-form-container .echo-auth-logout {
    color: #404040;
}

.echo-trinaryBackgroundColor {
    background-color: transparent;
}

.echo-item-childrenMarker {
    border-color: transparent transparent rgba(0,0,0,0.12);
    margin: 5px 0 -15px 60px;
}

* html .echo-item-childrenMarker, *+html .echo-item-childrenMarker {
    border-color: transparent transparent black!important;
}

.echo-item-container a {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.echo-item-container span a:hover, .echo-item-container-child .echo-item-data a:hover {
    color: #ea008a;
}

.echo-item-container-child {
    margin: 0;
}

.echo-item-depth-1 {
    padding: 5px 0px 10px 0px;
}
/* VIA */
/*.echo-item-via { display: none;}*/.echo-item-via a:link, .ehco-item-via a:visited, .echo-linkColor {
    color: #ea008a;
}

.echo-item-via a:hover, .echo-item-from a:hover {
    text-decoration: underline;
    color: #ea008a;
}
/* EXPAND BUTTON */
.echo-item-children .echo-whirlpool-container span {
    width: 87%;
    background: transparent;
    background-color: rgba(0,0,0,0.2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#22000000, endColorstr=#000000);
  /* IE8 uses -ms-filter for whatever reason... */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000);
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    padding: 3px 5px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -o-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    padding: 12px 8px 12px 8px;
    font-weight: 700;
    margin: -5px 0px -5px 44px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.s_comments .echo-stream-more {
    width: 94%;
    margin: 0;
}

* html .echo-item-children .echo-whirlpool-container span, *+html .echo-item-children .echo-whirlpool-container span {
    background: #aaa;
}

.echo-item-children .echo-whirlpool-container span:hover {
    background: none repeat scroll 0 0 #ea008a;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
/*///////////// CONTENT/MEDIA STYLING ////////////////////*/
/* YOUTUBE EMBED SIZE */
#s_river object, #s_river embed, #s_river iframe {
    display: block;
    clear: both;
    margin: 5px 10px 5px 0;
}
/* AVATAR */
.primary .echo-item-avatar, #bv-echo-river .echo-item-avatar {
    border: 2px solid #000;
}
/* BLOCKQUOTE MARGINS */
blockquote {
    border-left: 3px solid #CCCCCC;
    color: #2f2f2f;
    font: 11px normal Arial, helvetica, sans-serif;
    margin: 15px 0 0 20px;
    padding-left: 10px;
}
/* TWITPIC IMAGE SIZE */
div.article_media {
    padding-top: 10px;
}
/*
#s_river div.article_media img,
#s_river .echo-item-body div span img,
*/
#s_river .metadata_image {
    padding: 0px!important;
    margin: 5px 10px 5px 0px;
    opacity: 0.9;
    border: 10px solid #ddd;
    text-shadow: 0 1px 0 #111;
    -webkit-box-shadow: 0px 1px 0px #fea008a;
    -moz-box-shadow: 0px 1px 0px #fea008a;
    -o-box-shadow: 0px 1px 0px #fea008a;
    box-shadow: 0px 1px 0px #fea008a;
}

#s_river .metadata_image_div {
    float: left;
}

/* LIKES */
.echo-item-data .echo-item-likes {
    color: #7f7f7f;
    margin: 10px 16px 0px 0px;
    padding: 7px 0px 7px 19px;
    border-top: 1px solid #5d338b;
    border-bottom: 1px solid #5d338b;
    border-color: rgba(0,0,0,.2);
}

.echo-item-children .echo-item-likes {
    color: #7f7f7f;
    border-top: 1px solid #5d338b;
    border-bottom: 1px solid #5d338b;
    border-color: rgba(0,0,0,.2);
}


/* LOGIN FORM STYLES */

.submit .echo-submit-body {
    display: none;
}

.submit .echo-submit-controls {
    display: none;
}

.submit .echo-auth-edit {
    display: none;
}

.submit .echo-submit-header {
    display: none;
}

.submit .echo-auth-logout {
    float: right;
    position: relative;
    margin: 0;
    color: #404040;
}

.submit .echo-auth-anonymous {
    position: absolute;
    top: 14px;
    right: 15px;
}

.submit .echo-linkColor {
    color: #ea008a;
}

.echo-auth-logged {
    font-size: 14px;
}

.echo-auth-logged .echo-auth-name {
    font-weight: 700;
    font-size: 16px;
}



/* = = = = = = 
REAL TIDBITS COMMENTS
= = =  = = = */

.realtidbits-comments {
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

.realtidbits-comments-title {
    color: #111 !important;
}

/* submit */
.echo-button .ui-state-default {
    background: none #333 !important;
    color: #fff !important;
    border: none !important;
    font-size: 12px;
}

.echo-auth-login,
.echo-auth-logout {
    padding: 3px 7px!important;
    -webkit-border-radius: 4px!important;
    -moz-border-radius: 4px!important;
    -o-border-radius: 4px!important;
    border-radius: 4px!important;
    color: #fff !important;
    background: none #333 !important;
    text-decoration: none !important;
    border: none !important;
}

.echo-button .ui-state-default:hover,
.echo-auth-login:hover,
.echo-auth-logout:hover {
    background: #f00 !important;
}


/* METADATA */
.echo-item-data .metadata {
    clear: both;
    float: left;
    width: 100%;
    margin: 10px 0 5px 10px
}

.echo-item-data .metadata_image {
    float: left;
    border: 0px;
    padding: 0;
    width: 95%;
}

.echo-item-data .metadata_description_div {
    float: left;
    width: 100%
}

.echo-item-data .metadata_description_div iframe, .echo-item-data .metadata_description_div object, .echo-item-data .metadata_description_div embed, .echo-item-text span iframe, .echo-item-data .metadata_description_div .meta_video {
    width: 150%;
    max-width: 510px;
}

.echo-item-data .fb_metadata div.metadata_image_div, .echo-item-data .note_metadata div.metadata_image_div {
    float: left;
    clear: none;
    width: 27%;
    max-height: 200px;
    margin-right: 8px;
}

.echo-item-data .fb_metadata .metadata_description_div, .note_metadata .metadata_description_div {
    float: left;
    width: 68%
}

.echo-item-data .metadata_title {
    color: #FF00A8;
    font-weight: 700;
    font-size: 13px;
    text-decoration: none;
    padding: 3px 0;
    line-height: 1;
}

.echo-item-data .metadata_description {
    color: #000;
    line-height: 1.1;
    padding: 3px 0;
    font-size: 11px;
    margin-top: 2px;
}


/* = = = = = = 
REAL TIDBITS COMMENTS
= = =  = = = */

.echo-share-submit-checkbox span,
.echo-email-submit-label {
    color: #000 !important;
}

div.realtidbits-comments-title {
    color: #FF00A8!important;
}

/* submit */
.echo-button .ui-state-default,
.echo-auth-logout {
    background: #000 !important;
    color: #FFFFFF !important;
    border: none !important;
}

.echo-auth-login,
.echo-auth-logout {
    padding: 3px 7px!important;
    -webkit-border-radius: 4px!important;
    -moz-border-radius: 4px!important;
    -o-border-radius: 4px!important;
    border-radius: 4px!important;
    color: #FFFFFF !important;
    background: #000 !important;
    text-decoration: none !important;
    border: none !important;
}



/****************************************************************
 *             lmfao Custom Styles for non-echo content  
 ****************************************************************/

body {
    background: #980053 url('images/bg_tile_sm.jpg') top center;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* = = = LINKS AND HEADERS = = = */
a:link, a:visited {
    color: #ff00a8;
    text-decoration: none;
}

a:hover, a:active {
    color: #f00;
    text-decoration: underline;
}

h1, h2, h3, h4, h5 {
    padding: 10px 0;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
/* CHANNEL TITLES */
h2.s_channel_title {
    text-transform: uppercase;
    font-family: blackout-midnight, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 0px;
    margin-bottom: 0;
    font-size: 27px;
    color: #f09;
}

.primary h2.s_channel_title {
    color: #fff;
    margin: -65px 0 22px 0;
}

.primary h2.s_channel_title a {
    color: #fff!important;
}

.pg-home .primary h2.s_channel_title {
    margin: -55px 0 22px 10px;
}

h3.s_title, h3.s_title a {
    font-family: league-gothic, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    color: #000!important;
}

h3.s_title {
    border-bottom: 1px solid #f09;
    padding: 0;
}

.primary .s_byline {
    position: relative;
    top: 5px;
}

h2.s_channel_title a {
    color: #fff;
    text-decoration: none;
}

.s_channel h3 {
    margin-bottom: .1em;
}

.s_channel h3 a {
    color: #ff00a8;
}

#primary .s_channel h3 {
    display: block;
}
/* = = = = CMS STRUCTURE & CONTAINERS = = = = = */ 
.container {
    position: relative;
    top: -80px;
}

.primary {
    width: 600px;
    background: white;
    margin: 0;
    padding: 10px;
}

.pg-home .primary {
    background: none;
    padding-left: 0;
}

.secondary {
    margin: 5px 0 0 15px;
}

.bg {
}

.bg_nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    hegith: 80px;
    background: url('images/bg_nav.png') repeat-x top center;
    margin: 0;
    z-index: 1;
}
/* HEADER (HD) */
h1#logo {
    width: 110px;
    margin: 0;
    padding: 0;
    float: left;
    padding-right: 5px;
    text-indent: -9999em;
    position: relative;
    top: 18px;
    left: 50%;
    margin-left: -464px;
    background: url(images/logo.png) no-repeat;
}

h1#logo a {
    width: 156px;
    height: 81px;
    background: url(images/logo.png) no-repeat;
    text-indent: -3000px;
    overflow: hidden;
}

#hd {
    float: none;
    clear: both;
    height: 430px;
    background: url('images/bg_internal.jpg') no-repeat 50% 80px;
}

.pg-home #hd {
    height: 580px;
    background: url('images/bg_small.jpg') no-repeat 50% 80px;
}

#hd h1 a {
    display: block;
    text-decoration: none;
}

#bd {
    background: url(images/bg-trans-white.png);
}
/* F O O T E R */
#ft {
    background: url('images/bg_nav.png') repeat-x bottom center;
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
}

#footer {
    width: 600px;
    text-align: center;
    margin: 0 auto;
}

#ft-logos {
    float: right;
}

#ft-logos a {
    float: left;
    margin-right: 2px;
}

#ft-legal {
    height: 20px;
    float: left;
    vertical-align: middle;
    margin-top: 10px;
    width: 500px;
}

#ft-legal span {
    height: 20px;
}

#ft-legal a {
    display: inline;
}

#ft-legal span#poweredby {
    display: block;
    float: none;
    clear: left;
    padding-top: 12px;
}

#ft-legal img {
    display: inline;
}

.span-15 iframe, .span-15 object, .span-15 embed {
    max-width: 566px;
}
/* G E N E R A L   C O N T A I N E R S */
.s_channel {
    margin: 1em 0 2em;
}

.s_items {
    padding: 1em;
/*background: url('images/bg_news.png');*/
}

.s_item {
    margin: 1em 0;
    padding-bottom: 1em;
    border-bottom: 1px solid #ff00a8;
}

.secondary .s_items {
    margin: .1em;
    padding: 1em;
}

.secondary li.s_headline {
    padding: 1em 0;
    border-bottom: 1px solid #ff00a8;
}

.s_channel.s_headlines ul {
    margin: 0;
    padding: 0;
}

img.s_image, img.fullsize, img.thumbnail, img.userfullsize, img.userthumbnail {
    float: left;
    margin: 0 1em 1em 0;
    border: 3px solid #fff;
    padding: 0;
}

.secondary .s_item {
    margin: 0 0;
    border-bottom: none;
}

.secondary ul.s_items {
    padding: 1em 0 1em 1em !important;
}

p.s_more {
    float: right;
    font-size: 12px;
    font-weight: bold;
}

p.s_more a:link, p.s_more a:visited {
    color: #fff;
}

p.s_more a:hover {
}
/* = = = N A V I G A T I O N = = = */
#top-nav {
    width: auto;
    float: left;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -345px;
    z-index: 1;
}

* html #top-nav, *+html #top-nav {
    width: 960px;
}

#top-nav ul {
}

#top-nav li {
    margin: 0 0 0 0px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.1em;
    border-left: 1px solid #1f1f1f;
    padding: 0;
}

#top-nav ul.navigation li a {
    max-width: 60px;
    line-height: 1;
    text-align: left;
    height: 24px;
    vertical-align: center;
    font-family: league-gothic,"helvetica neue", helvetica, arial, sans-serif;
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 44px 10px 13px 5px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    font-size: 27px;
}

#top-nav ul.navigation > li.selected a, #top-nav ul.navigation > li a:hover {
    color: #ff00a8;
}

#top-nav ul.navigation > li.selected {
    border-color: #f09;
}

.navigation li {
    font-weight: normal;
    line-height: 16px;
    list-style-type: none;
    float: left;
    display: inline;
    margin-right: 16x;
    padding-right: 16px;
    position: relative;
}

.navigation li a {
    color: #656565;
}

#ft .navigation li a {
    color: #aaa;
    font-size: 11px;
}

#ft li.selected a {
    color: #f09;
}

li.selected a {
    color: #fff;
}

#ft .navigation a:hover {
    #fff;
}


/*
----------------------------------------------------------------
    B I O
---------------------------------------------------------------- */

.pg-home .secondary #s_artistbio .s_items {
    float: left;
    background: #000;
    padding: 0 1em;
}

.icon_holder {
    display: none !important;
    width: 60px !important;
    height: 78px !important;
    background: url(images/sprite-social.jpg) no-repeat !important;
}

.icon_holder.twitter {
    display: block !important;
    background-position: -84px 0 !important;
}

.icon_holder.facebook {
    display: block !important;
    background-position: -24px 0 !important;
}

.icon_holder.myspace {
    display: block !important;
    background-position: -148px 0 !important;
}

.icon_holder.youtube {
    display: block !important;
    background-position: -212px 0 !important;
}

/*
----------------------------------------------------------------
    D I S C O G R A P H Y
---------------------------------------------------------------- */

/* tracklisting alt rows */
#s_discography tbody tr:nth-child(even) td, #s_discography tbody tr.even td {
    background: #d1d1d1;
}

/*
----------------------------------------------------------------
    E V E N T S  +  T O U R
---------------------------------------------------------------- */

#s_events .s_item {
    border-top: 1px solid #252525;
    border-bottom: none;
    padding: 12px 0px 8px 0px;
}

#s_events .s_item:first-child {
    border: none;
    margin-top: -10px;
}

.pg-events.detail #s_events .s_item {
    border-top: none !important
}

.pg-events.detail .secondary #s_artistbio {
    display: none !important;
}

.s_day {
    background: black none repeat scroll 0 0;
    color: #f40070;
    border: none;
    font-size: 16px;
    padding-bottom: 5px;
}

.secondary .s_day {
    color: #66ccff;
}

.s_month {
    font-weight: normal;
    font-size: 9px;
    background: #000 none repeat scroll 0 0;
    padding-top: 6px;
    border: none;
}

.s_dateblock {
    font-family: league-gothic, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-right: 7px;
}

.s_venue {
    font-family: league-gothic, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 0 -2px 0;
    text-transform: uppercase;
}

.primary .s_venue {
    margin: -5px 0 -5px 35px;
}

.primary .s_venue a {
    font-size: 27px;
    color: #000;
}

.primary .s_venue a:hover {
    color: #f20070;
}

.secondary .s_venue {
    margin-bottom: -1px!important;
    font-family: Arial, Helvetica, sans-serif;
}

.s_location {
    font-size: 12px;
    letter-spacing: .20em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 200!important;
}

a.buyticketurl {
    background: url(images/btn-ticket.png) no-repeat;
    width: 38px;
    height: 24px;
    text-indent: -9999px;
    display: block;
    float: left;
}

.secondary a.buyticketurl {
    background: url(images/btn-ticket-small.png) no-repeat;
    width: 32px;
    height: 16px;
    text-indent: -9999px;
    display: block;
    float: left;
}

.primary .s_location {
    color: #000;
    font-weight: 700;
    margin: 3px 0 7px 0;
}

.pg-events.summary .primary #s_events .s_icon_comments {
    display: block;
    float: left;
}

.pg-events.detail .primary #s_events .s_icon_comments {
    float: right;
}

.pg-events.summary a.buyticketurl {
    clear: left;
    float: left;
    margin-left: 35px;
}

.secondary #s_events a.buyticketurl {
    margin-left: 1px;
}

.secondary #s_events .s_icon_comments {
    display: none;
}
/* SONICLIVING */
.ursvpw_summary {
    margin-top: 12px;
    margin-right: 15px;
}

.s_channel a span {
    color: #F40070;
}

.s_venue {
    margin-bottom: 5px;
}
/*


/*
----------------------------------------------------------------
    M E D I A   /   V I D E O
---------------------------------------------------------------- */
.pg-media .secondary #s_media .s_items {
    height: 750px;
    overflow: auto;
    width: 290px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.pg-media .secondary .s_channel.s_headlines ul {
    margin: 0 1em !important;
    overflow: hidden;
}
/*
----------------------------------------------------------------
    M E M B E R S H I P + C O M M U N I T Y  +  F O R U M
---------------------------------------------------------------- */
/*
----------------------------------------------------------------
    N E W S  +  B L O G
---------------------------------------------------------------- */



/*
----------------------------------------------------------------
    P H O T O S
---------------------------------------------------------------- */
.pg-photos.detail .secondary #s_gallery .s_items {
    height: 550px;
    overflow: auto;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.pg-photos.detail .secondary #s_gallery li.s_item {
    border: none;
    width: 100px;
    float: left !important;
    margin-right: 12px;
}

.pg-photos.detail .secondary #s_gallery .s_image {
    width: 80px;
    height: 60px;
    border: 1px solid #ccc;
    float: left !important;
}

.pg-photos.detail .secondary .s_channel.s_headlines ul {
    margin: 0 0 0 0 !important;
    overflow: hidden;
}
/*
----------------------------------------------------------------
    M I S C
---------------------------------------------------------------- */

#twitter-widget {
    position: absolute;
    top: 90px;
    left: 50%;
    margin-left: -220px;
    color: #fff!important;
}

span#followers {
    color: #fff;
}

.s_control {
    display: block;
    clear: both;
}

.s_permabar {
    background: none;
    border-top: none;
    border-bottom: none;
}

p.formats {
    margin: 0;
    padding: 0;
}

div#s_twitter div.image {
    display: none;
}

th {
    text-align: left;
}

td.s_filter form {
    text-align: right;
}

h4 a img {
    float: none;
    display: block;
}

.s_block {
    display: block;
}

body.pg-home #s_events h4 span.s_events_up_arch {
    display: none;
}

.address1, .address2, .zip {
    display: block;
}

p.sharethis {
    font: normal 9px Verdana, Arial, Helvetica;
    clear: both;
    color: #555;
    margin-top: 20px;
} /* lyrics */
.s_artist_name {
    display: none;
}

blockquote {
    color: #333 !important;
}
/* LyricFind ad spots - Text link color */
.s_ad font {
    color: red !important;
}

/*
----------------------------------------------------------------
    B A D G E V I L L E
---------------------------------------------------------------- */

#fb-root iframe {
    left: -9999px;
    display: none;
}

.bv_channel {
    background: #ff00a8 !important;
    padding: 0 0 10px 0;
    margin: 20px 0;
    width: 300px;
}

.bv_primaryBackground {
    background: #ff00a8 !important;
}

.bv_activitiesFeed {
    background: #fff !important;
    padding: 5px 0 !important;
    margin: 4px 10px;
    -webkit-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-radius: 5px;
}

.bv_widget a, .bv_widget a:active, .bv_widget a:visited, a.bv_mainBackground, a.bv_mainBackground:active, a.bv_mainBackground:visited {
    color: #ff00a8 !important;
}

.bv_widget a:hover, .bv_widget a:active, a.bv_mainBackground:hover, a.bv_mainBackground:active {
    color: #000 !important;
}

h4.bv_channel_title {
    margin: 0 0 4px 10px;
    color: #fff;
}

.bv_secondaryBackground {
    background-color: #ff99cc;
}

.bv_accentColor {
    color: #666;
}

.bv_crouton {
    margin: 0 0 2em;
}